.tcycle,
.sbgs_image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100;
}

.tcycle_image{
	background-size: cover;	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}